[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CMF"]
	path = CMF
	url = https://github.com/cyianor/cmf
[submodule "compdb"]
	path = compdb
	url = https://github.com/cyianor/r-compdb
[submodule "mmpca"]
	path = mmpca
	url = https://github.com/cyianor/mmpca
